/*
* Spooky v0.1
* Copyright 2014, rekyuu
* rekyuu.co
*/

/* Table of Contents
==================================================
   #Imports
   #Fonts
   #Typography
   #Colors
   #Forms
   #Images
================================================== */

/* #Imports
================================================== */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

@import url(http://fonts.googleapis.com/css?family=Lato:900);

@import url(http://fonts.googleapis.com/css?family=PT+Mono);

/* #Fonts
================================================== */

html, body,
button,
p                  { font-family: 'PT Sans', sans-serif; }
h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; }
pre, code          {
   font-family: 'PT Mono', monospace !important;
   font-size: 0.7em !important;
}

/* #Typography
================================================== */

h1.pre { margin-left: 0.27em; }

h3 p {
   font-size: 12px !important;
   font-style: italic;
   margin-bottom: 0;
}

p, li, span { font-size: 1.15em !important; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

ol,
ul.square, ul.circle, ul.disc { margin-left: 1em; }

ul#menu { float: right; }

ul#menu li {
   float: left;
   padding: 0 0.5em;
   font-size: 17px !important;
   line-height: 24px !important;
   font-weight: bold;
}

ul#menu li:first-child { padding: 0 0.5em 0 0; }
ul#menu li:last-child  { padding: 0 0 0 0.5em; }

@media only screen and (max-width: 767px) {

   ul#menu {
      margin: .5em 0 1em 0 !important;
      float: left;
   }

}

pre {
   font-family: monospace;
   padding: 1em;
   overflow: scroll;
   overflow-x: hidden;
   border-radius: 0 !important;
}

code {
   font-family: monospace;
   padding: 0 .3em;
}

pre code { padding: 0; }

code.prettyprint { background-color: none !important; }

nav.pagination {
   text-align: right;
   padding: 1em 0;
}

nav.pagination span,
nav.pagination a { font-size: 1.15em !important; }

#footer p {
   font-size: 12px !important;
}

/* #Colors
================================================== */

/* Primary Neutral Background Color */
/* #F3F4E4 */

body                 { background:  #F3F4E4; }
button, button:hover,
code                 { color:       #F3F4E4; }

/* Secondary Neutral Background Color */
/* #C1AE92 */

button:hover         { background:  #C1AE92; }

/* Neutral Foreground Color */
/* #3E3A32 */

html, body,
h4, h5, p            { color:       #3E3A32 !important; }
pre, code,
code.prettyprint     { background:  #3E3A32 !important; }

/* Primary Accent Color */
/* #F3F4E4 */
/* 190,87,73 */

h1, h2, h3,
a,
ul#menu li a         { color:       #BE5749 !important; }
button               { background:  #BE5749; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
   border-color:                    #BE5749;
   box-shadow: 0 0 3px              rgba(190,87,73,0.5);
}

/* Secondary Accent Color */
/* #86BF77 */

/* #Forms
================================================== */

input[type="text"],
textarea, select, button { border-radius: 0; }

button, button:hover {
   border: none;
   text-shadow: none;
   font-size: 1em;
}

select { padding: 6px 4px; }

form.full-width input[type="text"],
form.full-width textarea,
form.full-width select { width: 100% !important; }

form.full-width input[type="text"],
form.full-width textarea { width: 97.75% !important; }

/* #Images
================================================== */

img { max-width: 100%; }
img#tsuru { margin: -1em 0 1em 0; }
img#post {
   float: left !important;
   max-width: 30% !important;
   max-height: 23em !important;
   padding: 0px 1em 1em 0px !important;
}
